body{
	font-family: arial;
    height: 100%;
}

p{
	margin-left: 400px;
}

div{
	background-color: grey;
	color: white;
	padding: 10px 10px;
  	text-align: center;
  	display: inline-block;
  	margin-left: 900px;
}

